<section id='openings'>
  <h2>🎯 Openings</h2>

  <ul class='publications-list'>
    <li>
      <strong>Self-motivation:</strong>
      The ability to remain committed, focused, and adaptable when facing challenges and uncertainties in research.
    </li>

     <li>
      <strong>Teamwork and communication:</strong>
      A collaborative mindset and strong communication skills, with the ability to exchange ideas effectively, contribute to team projects, and work constructively with others.
    </li>

    <li>
      <strong>Honesty and integrity:</strong>
      A strong commitment to responsible and ethical research, ensuring the reliability and credibility of academic work.
    </li>

    <li>
      <strong>Research potential:</strong>
      Prior research experience is preferred but not required. Curiosity, persistence, and a willingness to learn are equally valued.
    </li>

   
  </ul>
</section>
