<section id='publications'>
  <h2>Publications</h2>
  <ol class='publications-list'>


    <li>
      <strong>Heng Zhou</strong>, Xiaoxiong Liu, Zhenxi Zhang, <em>et. al.</em>
      Remote Sensing Image Dehazing: A Systematic Review of Progress, Challenges, and Prospects. 
      <em>ISPRS Journal of Photogrammetry and Remote Sensing (ISPRS)</em>, 2026, 235: 318-348.
    </li>

    <li>
      Heng Zhou, Zhenxi Zhang, Chengyang Li, <em>et al.</em> 
      Exploring Self-image and Cross-image Consistency Learning for Remote Sensing Burned Area Segmentation. 
      <em>IEEE Transactions on Circuits and Systems for Video Technology (TCSVT)</em>, 2025,  36: 2924-2937.
    </li>

    <li>
      <strong>Heng Zhou</strong> Zhenxi Zhang, Chengyang Li, <em>et. al.</em> 
      Deformation-Resilient Multigranularity Learning for Unaligned RGB-T Semantic Segmentation. 
      <em>IEEE Transactions on Neural Networks and Learning Systems (TNNLS)</em>, 2025, 36: 18530-18544.
    </li>
    
    <li>
      <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang, <em>et. al.</em> 
      Frequency-aware feature aggregation network with dual-task consistency for RGB-T salient object detection. 
      <em>Pattern Recognition (PR)</em>, 2024, 146: 110043.
    </li>
    
    <li>
      <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang, <em>et. al.</em> 
      Position-Aware Relation Learning for RGB-Thermal Salient Object Detection. 
      <em>IEEE Transactions on Image Processing (TIP)</em>, 2023, 32: 2593–2607. 
      <a href='https://doi.org/10.1109/TIP.2023.3270801' target='_blank' rel='noopener noreferrer'>paper</a>
    </li>

    <li>
      <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang, <em>et. al.</em> 
      PixelGame: Infrared Small Target Segmentation as a Nash Equilibrium. 
      <em>IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing (JSTARS)</em>, 2022, 15: 8010–8024.
    </li>

    
    <li>
      <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang, <em>et. al</em>. 
      Multispectral Fusion Transformer Network for RGB-thermal Urban Scene Semantic Segmentation.  
      <em>IEEE Geoscience and Remote Sensing Letters (GRSL)</em>, 2022, 19: 1-5.
    </li>


    
  </ol>
</section>
