<section id="publications">
  <h2>Publications</h2>

  <p>Selected first-author publications.</p>

  <div class="publication">
    <span class="paper-title">
      Position-Aware Relation Learning for RGB-Thermal
      Salient Object Detection.
    </span><br>

    <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang,
    Chengyang Li, Yuxuan Ding, Yongqiang Xie, Zhongbo Li.<br>

    <span class="venue">
      IEEE Transactions on Image Processing
    </span>, 32: 2593–2607, 2023.<br>

    [<a href="https://doi.org/10.1109/TIP.2023.3270801"
        target="_blank"
        rel="noopener noreferrer">Paper</a>]
  </div>

  <div class="publication">
    <span class="paper-title">
      PixelGame: Infrared Small Target Segmentation as a Nash Equilibrium.
    </span><br>

    <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang,
    Chengyang Li, Yongqiang Xie, Zhongbo Li.<br>

    <span class="venue">
      IEEE Journal of Selected Topics in Applied Earth Observations
      and Remote Sensing
    </span>, 15: 8010–8024, 2022.<br>

    [<a href="https://doi.org/10.1109/JSTARS.2022.3206062"
        target="_blank"
        rel="noopener noreferrer">Paper</a>]
  </div>
</section>
