<section id='publications'>
  <h2>Publications</h2>

  <ol class='publications-list'>
    <li>
      <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang, Chengyang Li, Yuxuan Ding, Yongqiang Xie, Zhongbo Li. Position-Aware Relation Learning for RGB-Thermal Salient Object Detection. <em>IEEE Transactions on Image Processing</em>, 2023, 32: 2593–2607. <a href='https://doi.org/10.1109/TIP.2023.3270801' target='_blank' rel='noopener noreferrer'>See paper</a>
    </li>

    <li>
      <strong>Heng Zhou</strong>, Chunna Tian, Zhenxi Zhang, Chengyang Li, Yongqiang Xie, Zhongbo Li. PixelGame: Infrared Small Target Segmentation as a Nash Equilibrium. <em>IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing</em>, 2022, 15: 8010–8024. <a href='https://doi.org/10.1109/JSTARS.2022.3206062' target='_blank' rel='noopener noreferrer'>See paper</a>
    </li>
  </ol>
</section>
